<header role="banner" class="Header">

  <div class="container">
    <div class="row Header-inner">
      <div class="col-sm-2 col-xs-6 Header-logo">
        <a href="https://www.incf.org"><img src="https://www.incf.org/themes/incf/images/logo.svg" alt="INCF"></a>
      </div>
      <nav role="navigation" aria-labelledby="block-mainnavigation-2-menu" id="block-mainnavigation-2-menu" class="MainMenu col-sm-7 col-xs-12">
        <ul class="list-inline MainMenu-list">
          <li class="MainMenu-item">
            <a href="https://www.incf.org/about">About</a>
          </li>
          <li class="MainMenu-item">
            <a href="https://www.incf.org/network">Network</a>
          </li>
          <li class="MainMenu-item">
            <a href="https://www.incf.org/activities">Activities</a>
          </li>
          <li class="MainMenu-item">
            <a href="https://www.incf.org/resources">Resources</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<section class="Breadcrumb">
  <div>
    <div id="block-menu-breadcrumbs" class="container">
      <nav role="navigation" aria-labelledby="system-breadcrumb">
        <ul class="Breadcrumb-list list-inline">
          <li class="Breadcrumb-item">
            <a href="/">Discuss</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
